{% extends "base.html" %}
{% block scripts %}
<script>
  var facebook_app_id = {{ facebook_app_id | tojson }};
  var access_token, FB, video_id;
</script>

<script src="{{ url_for('static', filename='facebook_api.js') }}"></script>
<script>
  $(document).ready(function(){
      function getLiveVideo() {
          // Wait for FB to init (See facebook_api.js)
          if(typeof FB === 'undefined') {
            setTimeout(getLiveVideo, 500);
            return;
          }
          var page;
          // Login and save access_token in case its needed later
          FB.login(function(resp) {
            if (resp.authResponse) {
                access_token = FB.getAuthResponse()['accessToken']
                // Get account's pages
                FB.api('/me/accounts', function(resp) {
                    if (resp.data.length)
                        page = resp.data[0];
                });
                // Get pages most recent live video
                var most_recent_video = {};
                if (page) {
                    FB.api('/{' + page.id + '}?fields=live_videos{live_views,total_views}', function(resp) {
                        for (var i = 0; i < resp.data.length; i++) {
                            var video = resp.data[i];
                            if (video.timestamp > most_recent_video.timestamp) {
                                most_recent_video = video;
                            }
                        }
                    });
                }
                // Generate link to video
                // /facebook/video

            }
        });
    }

    getLiveVideo();
  });
</script>
{% endblock %}
{% block content %}

<div class="container">
  <div class="row">
    <div class="col-lg-6">

    </div>
  </div>
</div>

{% endblock %}
