{% extends "base.html" %}
{% block scripts %}
<script>
  var facebook_app_id = {{ facebook_app_id | tojson }};
  var access_token, FB, video_id, user;
</script>

<script src="{{ url_for('static', filename='facebook_api.js') }}"></script>
<script>
  $(document).ready(function() {
      function getLiveVideo() {
          // Wait for FB to init (See facebook_api.js)
          if(typeof FB === 'undefined') {
            setTimeout(getLiveVideo, 500);
            return;
          }
          // Login and save access_token in case its needed later
          FB.login(function(resp) {
            if (resp.authResponse) {
                access_token = FB.getAuthResponse()['accessToken'];
                FB.api('/me/', function(resp) {
                    user = resp;
                    // Get account's pages
                    FB.api('/'+user.id+'/accounts?access_token='+access_token, function(resp) {
                        for (var i = 0; i < resp.data.length; i++) {
                            var page = resp.data[i];
                            var $page = $('<div>').text(page.name);
                            $page.addClass('btn btn-primary');
                            $('#pages').append($page);
                            $page.on('click', function(){
                                // Get pages most recent live video
                                var most_recent_video = {};
                                FB.api('/' + page.id + '?fields=live_videos{live_views,total_views}', function(resp) {
                                    if (!resp.data) {
                                      alert('Unable to find any live videos for this page.');
                                      return;
                                    }
                                    for (var i = 0; i < resp.data.length; i++) {
                                      var video = resp.data[i];
                                        if (video.timestamp > most_recent_video.timestamp) {
                                            most_recent_video = video;
                                        }
                                    }
                                    // Generate link to video
                                    // /facebook/video
                                    var $elem = $('<div>');
                                    $elem.addClass('col-lg-6 col-md-6 col-sm-6');
                                    var url = '/facebook/' + user.id +'/' + most_recent_video.id;
                                    var a = $('<a>')[0];
                                    a.attr('href', url);
                                    a.addClass('btn btn-large');
                                    a.text('Share this link for other witnesses.');
                                    $page.append(a);
                                });
                            });
                        }
                });
          });
        }
      }, {scope: 'manage_pages'});
    }
    $('#authenticate').click(getLiveVideo);
  });
</script>
{% endblock %}
{% block content %}

<div class="container">
  <div class="row"><h2>Witness With Us Facebook Live Video</h2></div>
  <div class="row">
    <p><div class="btn btn-default" id="authenticate"> Click to authenticate with Facebook. </div></p>
    <p> You will be given the choice to pick a Page that you administer. </p>
    <p> Clicking the button for the page will grab the most recent video and display a shareable link. </p>
  </div>
  <div class="row" id="pages">

  </div>
</div>

{% endblock %}
