<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{{ vid }}</title>
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="{{ url_for('static', filename='facebook_api.js') }}"></script>

    <script type="text/javascript" >

        {% if url %}
        var bUrl = "{{ url }}";
        function call_api()
        {
            $.ajax({
                type: 'GET',
                url: bUrl,
                dataType: 'jsonp',
                success: function(data) {
                    handle_data(data);
                }
            });
        }
        function handle_data(result){
            var views_live = result.result.views_live;
            $("#live_views").html(views_live);
        }

        var interval = setInterval(function(){call_api()},5000);
        {%  endif %}

        {% if facebook_video_id %}
            var user_id = "{{ user_id | tojson }}";
            var video_id = "{{ facebook_video_id | tojson }}";
            function call_api() {
                FB.api('/'+ video_id +'?fields=live_views', handle_data);
            }
            function handle_data(result) {
                var views_live = result.views_live;
                $("#live_views").html(views_live);
            }
            var interval = setInterval(call_api, 5000);
        {% endif %}
    </script>
    <style>
    *{
        font-family:sans-serif;
    }
        h1#live_views{
            font-size: 500px;
            float:left;
            margin:auto;
            margin-bottom: -125px;
            margin-top: -100px;
        }
        #container{width:75%;}
        #with_us{
            width:100%;
            clear:both;
            margin:25px;
            font-size:72px;
        }
   </style>
</head>
<body>
{% if err %}
<h1>{{ err }}</h1>
{% endif %}
{% if vid  %}
    <div id = "container">
    <h1 id="live_views"> {{ viewers }} </h1>
    </div>
    <div id ="with_us">
    {%  if viewers < 2 %}
        <h3> Witness with us </h3>
    {%  else %}
        <h3> Witnesses with us </h3>
    {%  endif %}
    </div>
{% endif %}
{% if facebook_video_id %}
  <div id = "container">
    <h1 id="live_views">  </h1>
  </div>
  <div id ="with_us">
      <h3> Witnesses with us </h3>
  </div>
{% endif %}
</body>
</html>
